// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

$primary-color: #34623f; // https://coolors.co/b39c4d-768948-607744-34623f-1e2f23
$secondary-color:#1e2f23;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: $secondary-color; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
